extends /modules/body
block sidebarInfo
  a.icon.icon--phone(href='tel:5045819065') 504.581.9065
  a.span.icon.icon--mail(href='mailto:info@mbc.com') info@mbc.com
  a.span.icon.icon--fax(href='#') 504.581.7635
  
block bodyContents
  h2.gray Our Philosofy
  h3.blue-light At Martzell and Bickford, we are not just lawyers. We pride ourselves in being three things: A friend, an advocate, and a fighter.
  p We represent every day people, standing up for them in large complex and sometimes  intimidating legal matters.
  p When it comes to our clients, we have one main objective: to meet their  individual needs in a manner that makes them comfortable and fosters an understanding of the process and stages of litigation.
  p We are people first, and attorneys second.  We are hard-working advocates, negotiators, and champions in the courtroom, while maintaining an accessible and comforting one-to-one relationship with the clients we represent.
  p We are of the belief that how we conduct ourselves as attorneys should align with the morals, ethics, and ideology which guide our everyday lives as people.
  p With specialized and focused experience in the areas of law we practice, our small but mighty team of litigators is both proactive and responsive, working tirelessly to find smart, creative winning strategies for those we represent.
