extends /modules/body
block sidebarInfo
  a.icon.icon--phone(href='tel:5045819065') 504.581.9065
  a.span.icon.icon--mail(href='mailto:info@mbc.com') info@mbc.com
  a.span.icon.icon--fax(href='#') 504.581.7635
  
block bodyContents
  h2 Working With Us
  p Our firm was established more than 40 years ago and is considered a go-to resource for cases involving asbestos and mesothelioma litigation, medical and legal malpractice, product liability, and more.
  p We pledge to deliver high-quality, personalized legal representation at all times. When you work with our attorneys, you can expect:
  ul
    li Prompt responses to emails, calls and inquiries
    li Personalized attention from your attorney
    li Updates about the progress of your case
    li Straightforward advice, tailored to meet your needs
    
  h2 Justice Starts Here
  p Martzell & Bickford offers free initial consultations for all legal cases. At your first consultation, you will speak with one of our experienced attorneys and review the details of your situation. We will ask several questions and have discussions about your goals for your situation. Once we understand the issues you are facing we can determine if we can help you and the best approach to take.
  p If your attorney feels a case can be filed, you will be assigned an entire team to help on your case. We will make sure that the right information is assembled and be at your disposal to answer questions and walk you through the legal process.
