extends /modules/body
block sidebarInfo
  a.icon.icon--phone(href='tel:5045819065') 504.581.9065
  a.span.icon.icon--mail(href='mailto:info@mbc.com') info@mbc.com
  a.span.icon.icon--fax(href='#') 504.581.7635
  
block bodyContents
  h2.blue-light Contact Us for a Free Consultation
  p Please contact the lawyers at Martzell & Bickford to schedule a free initial consultation. You can also reach us by phone at 504-581-9065. We are here to help and get you through the challenges associated with an injury or complicated legal issue. Off-site appointments are available to those who are too injured to come into our office. We are conveniently located in the Warehouse District.
