.pagination
  a.pagination__previous(href='#')
    .pagination__arrow
      img(src='svg/back-arrow-red.svg', alt='back arrow')
    span.pagination__text.pagination__text--previous Our Practices
  
  a.pagination__next(href='#')
    span.pagination__text.pagination__text--next Meet the team
    .pagination__arrow
      img(src='svg/forward-arrow-red.svg', alt='forward arrow')
