section#quotes
  .white-relative
    .quotes
      .quote
        blockquote 
          p.quote__text At Martzell & Bickford, we recognize that people often come to us after having faced a traumatic event. For this reason, we focus on helping our clients with both the legal and real life issues involved in the situation. We are here as your advocates, at all times.
          
  .blue-relative
