section#testimonials
  .blue-relative
    .container
      h1 Client Testimonials
  .videos
    .video
      .content
        .video__play
        span.video__title Billy's Story
        span.video__description Mesothelioma & Asbestos
    .video
      .content
        .video__play
        span.video__title Ann's Story
        span.video__description Mesothelioma & Asbestos
    .video
      .content
        .video__play
        span.video__title Billy's Story
        span.video__description Mesothelioma & Asbestos
    .video
      .content
        .video__play
        span.video__title Ann's Story
        span.video__description Mesothelioma & Asbestos
