#practices-contents
  .container
    p Often originating in the tissue surrounding the lungs, mesothelioma is a severe cancer that can quickly invade nearby tissue and organs, as well as metastasize or spread to other parts of the body. Mesothelioma is most commonly caused by exposure to asbestos, and many industrial workers face the risk of exposure to asbestos.
    
    figure
      img(src='img/practices1.jpg', alt='A Doctor Reading some X-Rays')
      figcaption Image related to practice detail and supporting caption. Lorem ipsum sit dolor est mah nico gin tama gi hardwik lux pol tin uman fun dip lot intrum dixum.
    
    p Martzell & Bickford has been representing people in asbestos cases for more than 40 years. We deliver high-quality, compassionate legal representation for all clients and are committed to fighting for workers and individuals suffering from mesothelioma. At our firm, our mesothelioma lawyers understand the pain you are facing and will get you through the challenges associated with the disease, fighting for maximum damages. Located in New Orleans, we handle cases throughout the entire state of Louisiana.
    h2 Mesothelioma Symptoms And Diagnosis
    p The most common symptoms of this cancer include a shortness of breath, dyspnea and chest pain. These symptoms may not appear for 10-50 years following the initial exposure. Other symptoms can include peritoneal mesothelioma that can evidence itself by weight loss, abdominal swelling, bowel obstruction, blood clotting problems, listlessness and weakness.mesothelioma symptoms
    p Treatment is costly and can include surgery, radiation and chemotherapy. If you have been exposed to asbestos and are experiencing symptoms, it is important to seek a medical opinion if any of the symptoms persist to ensure early detection and treatment. If you have been diagnosed with mesothelioma as a result of exposure at the workplace or anywhere else, there are steps you can take to hold the responsible parties accountable and recover compensation for your pain.
