#dropdown
  .container
    h1 Mesothelioma & Asbestos
    .current-item
      
      span Symptoms and Diagnosis
    
    .dropdown-container
      
      .dropdown
      
        a.dropdown__element.is-selected(href='#')
          span Symptoms and Diagnosis
        
        a.dropdown__element(href='#')
          span Filing a Claim
        
        a.dropdown__element(href='#')
          span Lung Cancer
        
        a.dropdown__element(href='#')
          span In the Workplace
        
        a.dropdown__element(href='#')
          span Causes, Types & Treatments
        
        a.dropdown__element(href='#')
          span Common Trades Linked to Asbestos
        
        a.dropdown__element(href='#')
          span Louisiana Work Site
