#navigation-practices
  h1 Our Areas of Expertise
  .options
    .container
      a.option.is-active(href='#')
        svg.icon
          use(xlink:href='#mesothelioma-white')
        span Mesothelioma & Asbestos
      
      a.option(href='#')
        svg.icon
          use(xlink:href='#legal-malpractice-white')
        span Legal Malpractice
      
      a.option(href='#')
        svg.icon
          use(xlink:href='#environmental-white')
        span Oil, Gas & Environmental
      
      a.option(href='#')
        svg.icon
          use(xlink:href='#criminal-law-white')
        span Criminal Law
      
      a.option(href='#')
        svg.icon
          use(xlink:href='#class-action-white')
        span Class Action Lawsuits
      
      a.option(href='#')
        svg.icon
          use(xlink:href='#product-liability-white')
        span Product Liability  
      
      a.option(href='#')
        svg.icon
          use(xlink:href='#maritime-law-white')
        span Maritime Law
