#navigation-practices-mobile
  .title
    .container
      h1.center Our Areas of Expertise
  
  .current-item
    svg.icon
      use(xlink:href='#mesothelioma')
    span Mesothelioma & Asbestos

  .dropdown-container
    
    .dropdown
      a.dropdown__element.is-selected(href='#')
        svg.icon
          use(xlink:href='#mesothelioma')
        span Mesothelioma & Asbestos
      
      a.dropdown__element(href='#')
        svg.icon
          use(xlink:href='#legal-malpractice')
        span Legal Malpractice
      
      a.dropdown__element(href='#')
        svg.icon
          use(xlink:href='#environmental')
        span Oil, Gas & Environmental
      
      a.dropdown__element(href='#')
        svg.icon
          use(xlink:href='#criminal-law')
        span Criminal Law
      
      a.dropdown__element(href='#')
        svg.icon
          use(xlink:href='#class-action')
        span Class Action Lawsuits
      
      a.dropdown__element(href='#')
        svg.icon
          use(xlink:href='#product-liability')
        span Product Liability  
      
      a.dropdown__element(href='#')
        svg.icon
          use(xlink:href='#maritime-law')
        span Maritime Law
