.container
  .pagination
    a.pagination__previous(href='#')
      .pagination__arrow.pagination__arrow--previous
        svg
          use(xlink:href='#arrow')
      span.pagination__text.pagination__text--previous Filing a Claim
    
    a.pagination__next(href='#')
      span.pagination__text.pagination__text--next Lung Cancer
      .pagination__arrow
        svg
          use(xlink:href='#arrow')
