section#graphic-slider
  .slider
    
    
    .slide
      svg.background
        use(xlink:href='#mesothelioma')
      .container
        h2 Mesothelioma & Asbestos
        p Mesothelioma is a life-threatening form of cancer that can be debilitating to those it affects. This type of lung cancer is often caused by exposure to asbestos, which often happens in the workplace. For over 40 years, the attorneys of MB&C have represented workers throughout Louisiana who have been exposed to asbestos and are suffering from lung cancer; recovering over XXXXX for our clients and their families.
        a.button--arrow(href='#') Learn More
          .right-arrow
            img(src='svg/right-arrow.svg', alt='Forward')



    .slide
      svg.background
        use(xlink:href='#legal-malpractice')
      .container
        h2 Legal Malpractice
        p Mesothelioma is a life-threatening form of cancer that can be debilitating to those it affects. This type of lung cancer is often caused by exposure to asbestos, which often happens in the workplace. For over 40 years, the attorneys of MB&C have represented workers throughout Louisiana who have been exposed to asbestos and are suffering from lung cancer; recovering over XXXXX for our clients and their families.
        a.button--arrow(href='#') Learn More
          .right-arrow
            img(src='svg/right-arrow.svg', alt='Forward')



    .slide
      svg.background
        use(xlink:href='#environmental')
      .container
        h2 Oil, Gas & Environmental
        p Mesothelioma is a life-threatening form of cancer that can be debilitating to those it affects. This type of lung cancer is often caused by exposure to asbestos, which often happens in the workplace. For over 40 years, the attorneys of MB&C have represented workers throughout Louisiana who have been exposed to asbestos and are suffering from lung cancer; recovering over XXXXX for our clients and their families.
        a.button--arrow(href='#') Learn More
          .right-arrow
            img(src='svg/right-arrow.svg', alt='Forward')



    .slide
      svg.background
        use(xlink:href='#criminal-law')
      .container
        h2 Criminal Law
        p Mesothelioma is a life-threatening form of cancer that can be debilitating to those it affects. This type of lung cancer is often caused by exposure to asbestos, which often happens in the workplace. For over 40 years, the attorneys of MB&C have represented workers throughout Louisiana who have been exposed to asbestos and are suffering from lung cancer; recovering over XXXXX for our clients and their families.
        a.button--arrow(href='#') Learn More
          .right-arrow
            img(src='svg/right-arrow.svg', alt='Forward')



    .slide
      svg.background
        use(xlink:href='#class-action')
      .container
        h2 Class Action Lawsuits
        p Mesothelioma is a life-threatening form of cancer that can be debilitating to those it affects. This type of lung cancer is often caused by exposure to asbestos, which often happens in the workplace. For over 40 years, the attorneys of MB&C have represented workers throughout Louisiana who have been exposed to asbestos and are suffering from lung cancer; recovering over XXXXX for our clients and their families.
        a.button--arrow(href='#') Learn More
          .right-arrow
            img(src='svg/right-arrow.svg', alt='Forward')



    .slide
      svg.background
        use(xlink:href='#product-liability')
      .container
        h2 Product Liability
        p Mesothelioma is a life-threatening form of cancer that can be debilitating to those it affects. This type of lung cancer is often caused by exposure to asbestos, which often happens in the workplace. For over 40 years, the attorneys of MB&C have represented workers throughout Louisiana who have been exposed to asbestos and are suffering from lung cancer; recovering over XXXXX for our clients and their families.
        a.button--arrow(href='#') Learn More
          .right-arrow
            img(src='svg/right-arrow.svg', alt='Forward')
    
    
    
    .slide
      svg.background
        use(xlink:href='#maritime-law')
      .container
        h2 Maritime Law
        p Mesothelioma is a life-threatening form of cancer that can be debilitating to those it affects. This type of lung cancer is often caused by exposure to asbestos, which often happens in the workplace. For over 40 years, the attorneys of MB&C have represented workers throughout Louisiana who have been exposed to asbestos and are suffering from lung cancer; recovering over XXXXX for our clients and their families.
        a.button--arrow(href='#') Learn More
          .right-arrow
            img(src='svg/right-arrow.svg', alt='Forward')
