section#hero
  .carousel
    .carousel__slide.carousel__slide--1
      .carousel__container
        .row
          h1 Big cases are our strong suit. 
          h1 Being human is our nature.
          a.button--arrow-clear(href='#') Learn More
            .right-arrow
              img(src='svg/right-arrow.svg', alt='Forward')
    .carousel__slide.carousel__slide--2
      .carousel__container
        .row
          h1 We don't see clients.
          h1 We see people
          p See Billy's experience with us.
          a.button--arrow-clear(href='#') Learn More
            .right-arrow
              img(src='svg/right-arrow.svg', alt='Forward')
    .carousel__slide.carousel__slide--3
      .carousel__container
        .row
          h1 We're the Good Guys.
          h1 Who Take on the Big Guys
          p BP Settlement Contains Too Little Money
          a.button--arrow-clear(href='#') Learn More
            .right-arrow
              img(src='svg/right-arrow.svg', alt='Forward')
    .carousel__slide.carousel__slide--4
      .carousel__container
        .row
          h1 Justice Starts Here. 
          a.button--arrow-clear(href='#') Learn More
            .right-arrow
              img(src='svg/right-arrow.svg', alt='Forward')
    .carousel__slide.carousel__slide--5
      .carousel__container
        .row
          h1 Good people.
          h1 Even better Attorneys.
          p Litigating for a safer environment.
          a.button--arrow-clear(href='#') Learn More
            .right-arrow
              img(src='svg/right-arrow.svg', alt='Forward')
