#icon-navigation
  .options
    .container
      .option.is-active(slide='0')
        svg.icon
          use(xlink:href='#mesothelioma-white')
        span Mesothelioma & Asbestos
      
      .option(slide='1')
        svg.icon
          use(xlink:href='#legal-malpractice-white')
        span Legal Malpractice
      
      .option(slide='2')
        svg.icon
          use(xlink:href='#environmental-white')
        span Oil, Gas & Environmental
      
      .option(slide='3')
        svg.icon
          use(xlink:href='#criminal-law-white')
        span Criminal Law
      
      .option(slide='4')
        svg.icon
          use(xlink:href='#class-action-white')
        span Class Action Lawsuits
      
      .option(slide='5')
        svg.icon
          use(xlink:href='#product-liability-white')
        span Product Liability  
      
      .option(slide='6')
        svg.icon
          use(xlink:href='#maritime-law-white')
        span Maritime Law
