#icon-navigation-mobile
  .current-item
    svg.icon
      use(xlink:href='#mesothelioma')
    span Mesothelioma & Asbestos
  
  .dropdown-container
    .dropdown
      .dropdown__element.is-selected
        svg.icon
          use(xlink:href='#mesothelioma')
        span Mesothelioma & Asbestos
      
      .dropdown__element
        svg.icon
          use(xlink:href='#legal-malpractice')
        span Legal Malpractice
      
      .dropdown__element
        svg.icon
          use(xlink:href='#environmental')
        span Oil, Gas & Environmental
      
      .dropdown__element
        svg.icon
          use(xlink:href='#criminal-law')
        span Criminal Law
      
      .dropdown__element
        svg.icon
          use(xlink:href='#class-action')
        span Class Action Lawsuits
      
      .dropdown__element
        svg.icon
          use(xlink:href='#product-liability')
        span Product Liability  
      
      .dropdown__element  
        svg.icon
          use(xlink:href='#maritime-law')
        span Maritime Law
