.body-noSidebar
  padding: 40px 60px
  cf()

  .contents
    +above(2)
      column(7/12, offset: 5/12)
    +above(3)
      column(6/12, offset: 4/12)
    h2
      margin-bottom: 30px
      margin-top: 20px
      line-height: 1.4

    h3
      margin-bottom: 30px
      line-height: 1.4

    .blue-light
      color blue-light

    .gray
      color black
