/*!**
  title: Footer
  section: Main Footer
  description: This is the main footer.
  example: |
    footer#footer
        .container
            .row
***/

#footer
  background black
  color white
  padding: 85px 15%

  .row
    max-width: 50%
    +above(3)
      max-width: 100%

  .footer__logo
    max-width: 140px
    margin-bottom: 40px
    +above(3)
      max-width: 175px

  .footer__address
    margin-bottom: 40px
    +above(3)
      margin-bottom: 0
      column(3/12)

    &--map
      position: relative
      &::before
        position: absolute
        content ''
        width 25px
        height 25px
        background: url('../svg/map.svg') no-repeat center / cover
        top 0
        left -40px

  .footer__numbers
    margin-bottom: 40px
    +above(3)
      margin-bottom: 0
      column(2/12, offset: 1/12)

    &--fax
      position: relative
      &::before
        content ''
        width 20px
        height 23px
        position: absolute
        background: url('../svg/fax.svg') no-repeat center / cover
        top 10%
        left -33px

    &--phone
      position: relative
      &::before
        content ''
        width 15px
        height 25px
        background url('../svg/phone-round.svg') no-repeat center / cover
        position: absolute
        top 10%
        left -30px

  .footer__social
    +above(3)
      column(4/12, offset: 1/12)
      margin-bottom: 0

    +above(4)
      column(4/12, offset: 2/12)

  .footer__social--icon
    text-indent: 101%
    overflow: hidden
    white-space: nowrap
    width 42px
    height 42px
    display: inline-block
    margin: 0 10px 10px
    opacity: 0.75
    transition trns-default
    &:hover
      opacity: 1
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0

    &.facebook
  	  background url('../svg/facebook.svg') no-repeat center / cover

    &.google-plus
  	  background url('../svg/google-plus.svg') no-repeat center / cover

    &.linkedin
  	  background url('../svg/linkedin.svg') no-repeat 50% 49% / cover

    &.twitter
  	  background url('../svg/twitter.svg') no-repeat center / cover

    &.youtube
  	  background url('../svg/youtube.svg') no-repeat center / cover

    &.yelp
  	  background url('../svg/yelp.svg') no-repeat center / cover
