/*!**
  title: Forms
  section: Quick Contact
  description: Basic Styling for the forms
  example: |
    form(action='#', method='POST')
      input(type='text', placeholder='Full Name', name='name')
      input(type='email', placeholder='Email Address', name='email')
      input(type='tel', placeholder='Phone Number')
      textarea(placeholder='Brief description of legal issue', rows='1')
      input.button--arrow-clear(type='submit', value='Submit')
***/


form
  center(30.5rem)
  margin-top: 70px

input, textarea
  font-family museo-300
  fs(1.6rem)
  line-height (19/16)
  padding 15px 0
  color white
