$input
	appearance none
	border-radius 0
	display block
	width 100%
	margin-bottom: 40px
	border-top 0px solid transparent
	border-right 0px solid transparent
	border-left 0px solid transparent
	border-bottom: 1px solid white
	background: transparent
	opacity: 0.25
	color white
	&:focus
		outline 0
		opacity: 1

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=number],
input[type=password],
textarea
	@extend $input

input[type='submit']
	background: transparent
	border 1px solid white
	color white
	padding 13px 75px 13px 40px
	border-radius: 100px
	transition: trns-default
	display: inline-block
	background url('../svg/right-arrow.svg') no-repeat 80% 50% / 25px
	&:hover
		border 1px solid red-dark
	&:active
		border 1px solid red


::-webkit-input-placeholder
	color white

::-moz-placeholder
	color white
	opacity 1

:-ms-input-placeholder
	color white

::-ms-input-placeholder
	color white

:placeholder-shown
	color white
