/*!**
  title: Main Navigation
  section: Anywhere
  description: The Website's Main Navigation
  example: |
    nav#main-nav
      .left
        a.logo(href='/', title="Home")
          img(src='svg/logo.svg', alt='mbc logo')
      .desktop-links
        a.menu__link(href='/about.html') About
        a.menu__link(href='/practices.html') Practices
        a.menu__link(href='#') Team
        a.menu__link(href='#') News
      .right
        a.icon--phone(href='tel:5045819065') 504.581.9065
        a.button--3d.cta.quick-consult-trigger(href='#') Quick Consult

      .right--mobile
        a.icon--phone(href='tel:5045819065') 504.581.9065
        .toggle
          .toggle__burger

        .mobile-nav__overlay
        .mobile-nav__sidebar
          .mobile-nav__sidebar--close
          ul.menu__items
            li.menu__item: a(href='/about.html') About
            li.menu__item: a(href='/practices.html') Practices
            li.menu__item: a(href='#') Team
            li.menu__item: a(href='#') News
            li.menu__item--cta.quick-consult-trigger: a.button--3d(href='#') Quick Consult
***/

#main-nav
  height: 90px
  padding: 20px 7%
  background: white
  display: flex
  align-items: center
  +above(2)
    height 120px
    padding: 20px 5%
  +above(3)
    height 150px

  a
    display: inline-block

  span
    font-family lato-light
    fs(1.44rem)
    line-height: (17/14.4)
    color blue-light

  .left
    margin-right: 15px
    +above(2)
      margin-right: 10px

  .desktop-links
    display: none

    +above(2)
      display: flex
      align-items: center
      justify-content: space-around


  .menu__link
    color blue
    margin-left: 10px
    padding-bottom: 0
    +above(3)
      margin-left: 30px
    +above(4)
      fs(2rem)
      line-height: (24/20)
      margin-left: 40px

  .right
    display: none
    +above(2)
      margin-left: auto
      display: flex
      align-items: center

    .cta
      margin-left: 15px
      +above(4)
        fs(2rem)
        line-height: (24/20)
        padding 15px 33px
        margin-left: 20px

    &--mobile
      margin-left: auto
      display: flex
      align-items: center
      +above(2)
        display: none

  .logo
    max-width 133px
    padding-bottom: 0
    +above(3)
      max-width 166px

  .icon--phone
    font-family lato-light
    fs(1.44rem)
    line-height: (17/14.4)
    color blue-light
    padding 2px 0px 2px 25px
    content ''
    display: block
    background url('../svg/phone.svg') no-repeat
    background-size: contain
    +above(4)
      fs(1.8rem)
      line-height: (22/18)

  .toggle
    cursor  pointer
    content ''
    width 25px
    height 16px
    margin-left: 20px
    display: flex;
    align-items: center;

    +e(burger)
      position: relative

      &, &::before, &::after
        content ''
        display: block
        width 100%
        height 2px
        background #2D3E50

      &::before
        position: absolute
        bottom 6px

      &::after
        position: absolute
        top 6px

// Styles for the mobile nav that slides into view
.mobile-nav__sidebar
  height: 100%
  width: 70%
  background: #2d3e50
  color white
  position: fixed
  z-index 10
  top 0
  right -101%
  text-align: center
  padding: 20px
  transition trns-default

  +is(active)
    right 0

  .menu__item
    margin: 30px 0

    &:first-child
      margin-top: 0

  .menu__item--cta
    margin: 40px 0 15px
  a
    color white

  +m(close)
    content ''
    width: 25px
    height: 25px
    cursor pointer
    position: absolute
    top 22px
    left 30px
    transform-origin center

    &::before, &::after
      content ''
      display: block
      width 100%
      height 2px
      background: white
      position: absolute
      top 12px

    &::before
      transform: rotate(45deg)

    &::after
      transform: rotate(-45deg)

.mobile-nav__overlay
  height: 100%
  width: 100%
  background: transparent
  position: fixed
  top 0
  left 0
  z-index 9
  pointer-events none
  transition trns-default

  +is(active)
    pointer-events: all
    background: rgba(45,62,80,0.7)
