/*!**
  title: Pagination
  section: Footer
  example: |
    .pagination
      a.pagination__previous(href='#')
        .pagination__arrow.pagination__arrow--previous
          svg
            use(xlink:href='#arrow')
        span.pagination__text.pagination__text--previous Our<br>Practices

      a.pagination__next(href='#')
        span.pagination__text.pagination__text--next Meet <br>the team
        .pagination__arrow
          svg
            use(xlink:href='#arrow')
***/


.pagination
  padding 20px 25px
  display: flex
  justify-content: space-between
  align-items: center
  +above(4)
    padding: 40px 45px

  &__previous
    display: flex
    align-items: center
    padding-bottom: 0

  &__next
    display: flex
    align-items: center
    padding-bottom: 0

  &__title
    display: none
    +above(3)
      display: block
      color blue
      text-align: center

  &__mobile-title
    text-align: center
    color blue
    fs(3.36rem)
    line-height: (70/33.6)
    +above(2)
      fs(4.43rem)
      line-height: (70/44.3)
    +above(3)
      display: none



  &__text
    color red
    fs(1.6rem)
    line-height: (19/16)
    font-family: museo-500
    padding: 0

    &--previous
      margin-left: 10px

    &--next
      margin-right: 10px
      text-align: right

  &__arrow
    width: 54px
    height: 54px
    display: flex
    justify-content: center
    align-items: center
    border 1px solid red
    border-radius: 50%
    color red
    transition: trns-default
    &:hover
      background red
      color white

    &--previous
      transform: rotate(180deg)

    &--blue
      border 1px solid white
      color white
      &:hover
        background white
        color blue


    svg
      width: 27px
      height: 27px
