/*!**
  title: Headers
  section: Typography
  example: |
    <h1>H1 Header</h1>
    <h2>H2 Header</h2>
    <h3>H3 Header</h3>
    <h4>H4 Header</h4>
    <h5>H5 Header</h5>
    <h6>H6 Header</h6>
***/

h1, h2, h3, h4, h5, h6
  // text-rendering optimizeLegibility
  font-smooth always
  -moz-osx-font-smoothing: grayscale
  font-family headerfont


// General Weights and Colors
h1, h2, h3, h4, h5, h6, p, li
  font-weight: normal
  color inherit

h2, h3
  font-family museo-300

h4, h5
  font-family lato-light

// Specific Font Sizes and LineHeights

h1
  fs(5.6rem)
  line-height: (70/56)

h2
  fs(2.8rem)
  line-height: (30/28)

h3
  fs(2rem)
  line-height: (24/20)

h4
  fs(2.2rem)
  line-height: (34/22)

h5
  fs(1.8rem)
  line-height: (22/18)

p, ul, a, span
  fs(1.8rem)
  line-height (30/18)
  padding-bottom 10px
