.container
  .pagination
    a.pagination__previous(href='#')
      .pagination__arrow
        img(src='svg/back-arrow-red.svg', alt='back arrow')
      span.pagination__text.pagination__text--previous Practices
      
    h1.pagination__title More Team Members
    
    a.pagination__next(href='#')
      span.pagination__text.pagination__text--next News
      .pagination__arrow
        img(src='svg/forward-arrow-red.svg', alt='forward arrow')
