.container
  .pagination
    a.pagination__previous(href='#')
      .pagination__arrow.pagination__arrow--previous
        svg
          use(xlink:href='#arrow')
      span.pagination__text.pagination__text--previous Practices
      
    h1.pagination__title More Team Members
    
    a.pagination__next(href='#')
      span.pagination__text.pagination__text--next News
      .pagination__arrow
        svg
          use(xlink:href='#arrow')
  h1.pagination__mobile-title More Team Members
