extends /modules/body
block sidebarInfo
  a.icon.icon--phone(href='tel:5045819065') 504.581.9065
  a.span.icon.icon--mail(href='mailto:info@mbc.com') info@mbc.com
  a.span.icon.icon--fax(href='#') 504.581.7635
  
  h2 Areas of Practice
  ul
    li Admiralty and Maritime Litigation
    li Oil and Gas Litigation
    li Personal Injury
    li Products Liability Litigation
    li Toxic Tort
  h2 Litigation Percentage
  p 90% of Practice Devoted to Litigation
  
  h2 Bar Admissions
  ul
    li Louisiana, 1983
    li Texas, 1990
    li U.S. District Court Eastern District of Louisiana, 1983
    li U.S. District Court Western District of Louisiana, 1983
    li U.S. District Court Middle District of Louisiana, 1983
    li U.S. Court of Appeals 5th Circuit, 1984
    
  h2 Education
  ul
    li Tulane Law School, New Orleans, LA J.D.
    li Tulane University, New Orleans, LA B.A.
  
block bodyContents
  p Mr. Bickford, the principal of Martzell and Bickford, is a civil and criminal trial attorney whose practice is focused in representing the rights of injured workers and families in complex maritime cases, environmental contaminations, toxic exposures and in criminal proceedings. He has been trial counsel in cases involving nation-wide class actions involving asbestos exposure and mesothelioma cases, benzene exposure, massive oil spills and major rig explosions, including the DEEPWATER HORIZON where he sits on several discovery committees concerning the investigation of the matter as well as being a participant in the Joint Investigation Committee of the United States Coast Guard and the Bureau of Ocean Energy Management, Review and Enforcement. He represents thousands of individuals in the New Orleans area for the breach of the MRGO levee. He has tried or settled multiple cases to verdicts in the Millions of Dollars.
  p Additionally Mr. Bickford has represented various governmental and private landowners in environmental land damage cases and has litigated oil and gas royalty disputes and commercial oil and gas disputes.
  p In addition to his civil practice Mr. Bickford maintains a criminal practice involving matters such as mail fraud, money laundering, sexual misconduct cases and a variety of other criminal matters.
  p Has represented multiple clients in election matters and in 1996 represented U.S. Senator Mary Landrieu in her election contest before the United States Senate. Recently he has represented the interest of New Orleans Mayor Mitchell Landrieu and several other Louisiana elected officials in their election races. In 2008 he represented the Louisiana Democratic Party in the “Protect the Vote” project.
  p Professional and civic activities: Board of Governors Louisiana Association of Justice; Louisiana Bar Association Committee on Profession; Member Greater Orleans Community Partnership Panel (Louisiana Bar Foundation); Assistant Bar Examiner, Louisiana Bar Association (1990 to Present); Adjunct instructor of Trial Advocacy, Tulane School of Law; Former Chair Project Lazarus; Master, St Thomas More Inn of Court; Former alumnus advisor Kappa Sigma Fraternity.
  p Mr. Bickford is also a frequent lecturer to other lawyers and judges on various legal matters including ethics, trial practice and procedure and environmental and toxic lawsuits.
  p Mr. Bickford is a graduate of Tulane University and Tulane Law School. He was admitted to practice in 1983 in Louisiana and is also admitted to practice in Texas and Colorado.
