/*!**
  title: News Brief
  section: News
  example: |
    section#brief
      .container
        p A recent <a href='#'>article on NOLA.com</a> states that parish officials say that the BP settlement doesn’t contain enough money for the restoration of Plaquemines Parish.
***/

#brief
  background: blue
  color white
  padding-top: 70px
  padding-bottom: 280px
  text-align: center

  a
    font-family: museo-700
    color: white
    fs(2.8rem)
    line-height: (33/28)

  p
    font-family: museo-300
    fs(2.8rem)
    line-height: (33/28)

  .container
    max-width: 53%
