#related
  padding: 40px 0 110px

  .flexy-row
    display: flex
    flex-wrap: wrap
    justify-content: center

  .related
    background: url('../img/textslider3.jpg') no-repeat center / cover
    max-width 31.7073%
    height 321px
    position: relative
    flex-basis: 390px
    margin-right 2.439024%
    margin-bottom: 30px

    &:last-child
      margin-right: 0

    .overlay
      background: rgba(blue, 0.5)
      height: 321px
      display: flex
      flex-direction: column
      justify-content: flex-end
      padding: 30px 15px
      color white

      &__title
        margin-bottom: 10px
