footer#footer
  .container      
    .row
      .footer__logo
        img(src='svg/logoWhite.svg', alt='mbc logo')
      
    .row
      .footer__address
        p.footer__address--map Martzell, Bickford and Centola
        p 338 Lafayette Street
        p New Orleans, LA 70130 
      .footer__numbers
        p.footer__numbers--phone 504.581.9065
        p.footer__numbers--fax 504.581.7635
      
      .footer__social
        a.footer__social--icon.facebook(href='#') Facebook
        // a.footer__social--icon.google-plus(href='#') GooglePlus
        a.footer__social--icon.linkedin(href='#') LinkedIn
        a.footer__social--icon.twitter(href='#') Twitter
        // a.footer__social--icon.youtube(href='#') Youtube
        // a.footer__social--icon.yelp(href='#') Yelp
