footer.footer.footer--main
	.container
		.row
			.footer__social-list
				.container
					.row
						each val, index in [{name: 'linkedin'},{name: 'twitter'},{name: 'facebook'}]
							a.icon.footer__social-list-link(href="")
								svg.footer__social-list-icon(viewbox='0 0 100 100')
									use(xlink:href='#icon-#{val.name}')
			.footer__subnav
				.container
					.row
						a.footer__subnav-link(href="#", target="_blank") Legal
						a.footer__subnav-link(href="#", target="_blank") Privacy Policy
						a.footer__subnav-link(href="#", target="_blank") Example Component
						span.footer__subnav-nonlink &copy;2015 all rights reserved