nav#main-nav
  .left
    a.logo(href='/', title="Home")
      img(src='svg/logo.svg', alt='mbc logo')
  
  .right
    a.icon--phone(href='tel:5045819065') 504.581.9065
    
    .toggle
      .toggle__burger
