mixin nav-content()
  ul.menu__items
    li.menu__item: a(href='/about.html') About
    li.menu__item: a(href='/practices.html') Practices
    li.menu__item: a(href='/team.html') Team
    li.menu__item: a(href='/news.html') News
    li.menu__item--cta.quick-consult-trigger: a.button--3d(href='#') Quick Consult

nav#main-nav
  .left
    a.logo(href='/', title="Home")
      img(src='svg/logo.svg', alt='mbc logo')
  .desktop-links
    a.menu__link(href='/about.html') About
    a.menu__link(href='/practices.html') Practices
    a.menu__link(href='/team.html') Team
    a.menu__link(href='/news.html') News
  .right
    a.icon--phone(href='tel:5045819065') 504.581.9065
    a.button--3d.cta.quick-consult-trigger(href='#') Quick Consult
  
  .right--mobile
    a.icon--phone(href='tel:5045819065') 504.581.9065
    .toggle
      .toggle__burger

    .mobile-nav__overlay
    .mobile-nav__sidebar
      .mobile-nav__sidebar--close
      +nav-content()
