.row
	position: relative
	width: 100%
	cf()

.container
	max-width 95%
	margin: 0 auto
	+above(2)
		max-width: 720px
	+above(3)
		max-width: 940px
	+above(4)
		max-width: 1167px
	+above(5)
		max-width: 1465px
