extends layouts/layout-primary

block content
	.container
		img(src="svg/mbc-logo.svg", alt="" style='max-width:250px;margin-bottom:40px;')
		p The footer below is an example component. The component's markup used in the styleguide can be found in footer.styl. Don't forget to remove the padding on the body element in base.styl.
		p
			ul
				li: a(href='http://localhost:8088/styleguide' target='_blank') Styleguide
				li: a(href='https://github.com/kylamedina/styleguide.js' target='_blank') Styleguide Documentation
block footer
	include modules/footer
