extends layouts/layout-primary

block content
	include home/hero
	include home/icon-navigation-mobile
	include home/icon-navigation
	include home/graphic-slider
		

block footer
	include modules/footer
