extends layouts/layout-primary

block content
	include practices/navigation-mobile
	include practices/navigation
	include practices/dropdown-mobile
	include practices/dropdown
	include practices/contents
	include practices/pagination			

block footer
	include modules/footer
