extends layouts/layout-primary

block content
  include team/header
  include team/team-body-mobile
  #team-body
    include team/team-body
  include team/pagination
  include team/team-members
  
block footer
  include modules/footer
