#practices-contents
  color #333333

  h2
    color blue-light
    max-width: 694px
    margin: 40px auto

  figure
    margin: 55px 0

  figcaption
    fs(1.8rem)
    line-height: (22/18)
    color: blue-light
    font-family: lato-light
    max-width: 694px
    margin: 40px auto 0

  p
    max-width: 694px
    margin: 25px auto

  .container
    +above(3)
      max-width: 830px
