#navigation-practices-mobile
  color blue
  font-family museo-300
  fs(2rem)
  line-height (24/20)
  +above(3)
    display: none

  .title
    background: blue
    color white
    padding: 90px 0
  .center
    text-align: center
    fs(3.36rem)
    line-height: (41/33.6)

  .icon
    max-width: 32px
    max-height: 32px
    display: inline-block
    margin-right: 20px
    margin-bottom: -5px

  .current-item
    padding: 10px 7%
    position: relative
    cursor pointer
    border-bottom: 1px solid blue-light
    &::before, &::after
      content ''
      display: block
      height: 2px
      width 25px
      background: red
      transform-origin: center
      transition: trns-default
      position: absolute
      top 50%
    &::before
      transform: rotate(45deg)
      right 40px
      +above(2)
        right 90px
    &::after
      transform: rotate(-45deg)
      right 23px
      +above(2)
        right 73px

    +is(active)
      background gray
      border-bottom: none
      &::before
        transform: rotate(-45deg)
      &::after
        transform: rotate(45deg)

    +above(2)
      padding: 15px 14%

  .dropdown-container
    position: relative
    content: ''
    width 100%
    min-height: 1px

  .dropdown
    display flex
    flex-direction column
    width 95%
    background white
    box-shadow 0 4px 2px 0 rgba(0,0,0,0.15)
    padding 10px 0
    position absolute
    top -70px
    opacity 0
    transition: 0.5s ease
    pointer-events: none

    +is(active)
      top 0
      opacity 1
      pointer-events: all
      z-index: 2

    +above(2)
      padding: 15px 0

  .dropdown__element
    padding 10px 7% 20px
    cursor pointer
    color blue
    +above(2)
      padding: 10px 14% 20px
    &:hover
      background gray

    +is(selected)
      font-family: museo-700
