/*!**
  title: Icon Navigation Desktop
  section: Home
  description: The navigation toggles on the desktop view
  example: |
    #icon-navigation
      .options
        .container
          .option.is-active(slide='0')
            svg.icon
              use(xlink:href='#mesothelioma-white')
            span Mesothelioma & Asbestos

          .option(slide='1')
            svg.icon
              use(xlink:href='#legal-malpractice-white')
            span Legal Malpractice

          .option(slide='2')
            svg.icon
              use(xlink:href='#environmental-white')
            span Oil, Gas & Environmental

          .option(slide='3')
            svg.icon
              use(xlink:href='#criminal-law-white')
            span Criminal Law

          .option(slide='4')
            svg.icon
              use(xlink:href='#class-action-white')
            span Class Action Lawsuits

          .option(slide='5')
            svg.icon
              use(xlink:href='#product-liability-white')
            span Product Liability

          .option(slide='6')
            svg.icon
              use(xlink:href='#maritime-law-white')
            span Maritime Law
***/

#icon-navigation
  background blue
  color white
  text-align: center
  display: none
  +above(3)
    display: block

  span
    font-family: lato-light
    fs(1.8rem)
    line-height: (22/18)

  .icon
    max-width: 52px
    max-height: 52px
    margin-bottom: 25px

  .options
    cf()
    padding-top: 90px
    padding-bottom: 90px

  .container
    +above(3)
      max-width: 90%

  .option
    cf()
    column(1/7)
    cursor pointer
    opacity: 0.2
    transition trns-default

    +is(active)
      opacity 1
