/*!**
  title: Pull-Quotes
  section: Home
  description: Some Quotes floating with the team members below needs Slick Slider to display on mobile
  example: |
    section#pull-quotes
      .blue-relative
        .quotes
          .quote
            blockquote
              p.quote__text At Martzell and Bickford, we are not just lawyers. We pride ourselves in being three things: A friend, an advocate, and a fighter.
              footer.quote__author Scott Bickford, Cofounder & Partner
              a.button--arrow-clear.quote__cta Learn More
                .right-arrow
                  img(src='svg/right-arrow.svg', alt='Forward')
      .white-relative

        .partners-desktop

          .partners-desktop__row
            .partner.partner--vip(slide='0')
              .partner__img
                img(src='img/scottbrickford.jpg', alt='Scott R. Bickford')
              .partner__info
                span.partner__name Scott R. Bickford
                span.partner__title Partner

            .partner.partner--vip(slide='1')
              .partner__img
                img(src='img/larrycentola.jpg', alt='Larry J. Centola')
              .partner__info
                span.partner__name Larry J. Centola
                span.partner__title Partner

          .partners-desktop__row

            .partner.partner(slide='2')
              .partner__img
                img(src='img/spencerdoody.jpg', alt='Spencer Ryan Doody')
              .partner__info
                span.partner__name Spencer Ryan Doody


            .partner.partner(slide='3')
              .partner__img
                img(src='img/roshawnhusband.jpg', alt='Roshawn Husband Donahue')
              .partner__info
                span.partner__name Roshawn Husband Donahue


            .partner.partner(slide='4')
              .partner__img
                img(src='img/neilnazareth.jpg', alt='Neil F. Nazareth Esq.')
              .partner__info
                span.partner__name Neil F. Nazareth Esq.

          .partners-desktop__row

            .partner.partner(slide='5')
              .partner__img
                img(src='img/reginamatthews.jpg', alt='Regina O. Matthews')
              .partner__info
                span.partner__name Regina O. Matthews


            .partner.partner(slide='6')
              .partner__img
                img(src='img/jasonlandry.jpg', alt='Jason Zachary Landry')
              .partner__info
                span.partner__name Jason Zachary Landry

***/

#pull-quotes

  .blue-relative
    content ''
    min-height 300px
    width 100%
    background blue
    position: relative
    z-index: -2

  .quotes
    background linear-gradient(rgba(red, 0.75), rgba(red, 0.75)), url('../img/quote1.jpg') no-repeat center / cover
    center(42.1rem, 45px)
    width 95%
    align(horizontal)
    padding-top 65px
    padding-bottom 155px
    top 45px
    z-index: -1
    +above(2)
      center(59.7rem, 60px)
      width 90%
      padding-top: 70px
      padding-bottom: 120px
    +above(3)
      center(80%, 80px)
      width 80%
    +above(4)
      center(111rem, 120px)
      width 95%
      padding-top: 160px
      padding-bottom: 160px

    .quote
      color white

      &__text
        font-family museo-500
        fs(3.36rem)
        line-height: (42/33.6)
        position: relative
        +above(2)
          fs(4.48rem)
          line-height (56/44.8)
        +above(4)
          margin-bottom: 30px

        &::before, &::after
          fs(7.6rem)
          font-family 'Lucida Grande', serif
          font-weight 400
          position: absolute
          opacity 0.25
          +above(2)
            fs(12rem)

        &::before
          content open-quote
          top -10px
          left -30px
          +above(2)
            top -35px
            left -45px
        &::after
          content close-quote
          bottom -25px
          right auto
          +above(2)
            bottom -60px

      &__author
        font-family museo-300
        fs(1.68rem)
        line-height (20/16)
        margin-top 10px
        +above(2)
          fs(2.24rem)
          line-height (27/22.4)


      &__cta
        display: block
        margin-top: 30px
        margin-left: auto
        margin-right: auto
        max-width: 170px
        padding 12px 20px
        &:hover
          background blue

        +above(2)
          display: inline-block

        +above(4)
          margin-top: 50px
          padding 14px 60px 14px 24px !important

      .right-arrow
        position: absolute
        max-width: 20px
        top 25%
        right 15%
