/*!**
  title: Text-Slider
  section: Home
  description: The news slider, needs slick slider to run okay.
  example: |
    section#text-slider
      .slides
        .slide(style='background: linear-gradient(rgba(48,71,96,0.75), rgba(48,71,96,0.75)), url("../img/textslider1.jpg")no-repeat center / cover;')
          .slide__container
            h3.slide__title BP Settlement Contains Too Little Money
            span.slide__date October 25th, 2015
            p.slide__content A recent article on NOLA.com states that parish officials say that the BP settlement doesn’t contain enough money for the restoration of Plaquemines Parish. The proposed $20.8 billion for civil fines and environmental damages resulting from the Deepwater Horizon disaster and oil spill doesn’t adequately compensate damages suffered by Plaquemines Parish, according to the article.
            a.slide__cta.button--3d Read Full Article
***/

#text-slider
  background rgba(blue, 0.75)
  color white

  .slides
    margin-bottom: 0

  .slide
    //height auto
    padding-top: 135px
    padding-bottom: 150px

    &__container
      center(34rem)
      +above(2)
        center(44.7rem)
      +above(3)
        center(62.3rem)
      +above(4)
        center(73.5rem)
      +above(5)
        center(95rem)

    &__title
      font-family: museo-500
      fs(3.36rem)
      line-height: (42/33.6)
      margin-bottom: 20px
      +above(2)
        fs(4.43rem)
        line-height: (56/44.3)


    &__date
      fs(1.8rem)
      line-height: (22/18)
      font-family: lato-light
      margin-bottom: 20px
      display: block

    &__content
      fs(2.2rem)
      line-height: (34/22)
      font-family: lato-light

    &__cta
      margin-top: 20px
