a
	cursor pointer
	text-decoration none
	transition all 0.1s ease
	color red
	&:focus
		outline: 0
	&:hover
		color darken(red,40%)
		text-decoration none
	&:active
		color red
		transform scale(0.99)
		transform-origin 50% 50%
	&[disabled]
		color gray !important
		transform scale(1) !important
	&:visited
		color lighten(red,20%)
		&:hover
			color darken(red,40%)
