section#brief
  .container
    p A recent <a href='#'>article on NOLA.com</a> states that parish officials say that the BP settlement doesn’t contain enough money for the restoration of Plaquemines Parish.
