extends /modules/body-centered
block contents
  figure
    img(src='img/newsPhoto1.jpg', alt='Frozen River')
    figcaption Image related to article and supporting caption. Lorem ipsum sit dolor est mah nico gin tama gi hardwik lux pol tin uman fun dip lot intrum dixum.
    p The proposed $20.8 billion for civil fines and environmental damages resulting from the Deepwater Horizon disaster and oil spill doesn’t adequately compensate damages suffered by Plaquemines Parish, according to the article.
    p Attorney Spencer Doody of Martzell & Bickford, representing Plaquemines Parish in its separate lawsuit against BP, said in the article information released about the BP settlement raises a series of questions about its treatment of the parish. This includes whether the compensation covers future wetland losses or the total acreage it lists as damaged in Louisiana includes parish-owned land.
    p According to the article, Plaquemines Parish has spent between $18 million and $30 million of its own money to combat the spill, which has not been reimbursed by BP.
    p In July, Plaquemines Parish turned down a BP settlement offer as it was deemed too small. At the time, attorneys representing the parish said the offered amount was less than $23 million. Plaquemines Parish will continue to press its claim against BP in court.
    p Other areas of Louisiana, including Grand Isle and Lafitte city also refuse to accept BP settlement offers that are too small. The Mississippi Coalition for Vietnamese-American Fisher Folks & Families are also in agreement that the BP settlement does not adequately address concerns, according to the article.
    p The settlement was also aimed at ecosystem-level fixes, rather than addressing injuries for every species of wildlife injured during the spill. From microbial critters in the water and sediment, to plants and animals, and further to the biological and chemical environment in which they live were damaged during the disaster, according to Jean Cowan, a habitat restoration specialist who spoke with NOLA.com.
    p The Deepwater Horizon disaster and oil spill has led to countless problems that are much deeper than what appears on the surface.
