.container
  .pagination
    a.pagination__previous(href='#')
      .pagination__arrow.pagination__arrow--previous
        svg
          use(xlink:href='#arrow')
      span.pagination__text.pagination__text--previous Previous Article
      
    h1.pagination__title Related Articles
    
    a.pagination__next(href='#')
      span.pagination__text.pagination__text--next Next Article
      .pagination__arrow
        svg
          use(xlink:href='#arrow')
