section#related
  .container
    .flexy-row

      a.related(href='#')
        .overlay
          h2.overlay__title AAJ LeaderShip Academy Accepts One of Our Own.
          h5.overlay__date November 20, 2015

      a.related(href='#')
        .overlay
          h2.overlay__title AAJ LeaderShip Academy Accepts One of Our Own.
          h5.overlay__date November 20, 2015

      a.related(href='#')
        .overlay
          h2.overlay__title AAJ LeaderShip Academy Accepts One of Our Own.
          h5.overlay__date November 20, 2015
    
      a.related(href='#')
        .overlay
          h2.overlay__title AAJ LeaderShip Academy Accepts One of Our Own.
          h5.overlay__date November 20, 2015

      a.related(href='#')
        .overlay
          h2.overlay__title AAJ LeaderShip Academy Accepts One of Our Own.
          h5.overlay__date November 20, 2015

      a.related(href='#')
        .overlay
          h2.overlay__title AAJ LeaderShip Academy Accepts One of Our Own.
          h5.overlay__date November 20, 2015
